In [2]:
import sys
import os
sys.path.append(os.path.dirname(os.getcwd()))
# ou plus directement
sys.path.append("C:/Users/clemt/OneDrive/Documents/Cours M2/S2/BD Management/group4_BD_mgt/projet")

In [3]:
from scripts.lib import who_am_i
who_am_i()

Hello my name is Clement

In [4]:
from scripts.lib import simple_df
simple_df()

    Name  Age
0  Alice   25
1    Bob   30

In [10]:
from google.oauth2 import service_account
from google.cloud import bigquery
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv()

# Debug prints
print("Current working directory:", os.getcwd())
key_path = os.getenv('GOOGLE_APPLICATION_CREDENTIALS')
print("Key path:", key_path)
print("File exists:", os.path.exists(key_path))
print("File contents readable:", os.access(key_path, os.R_OK))

Current working directory: c:\Users\clemt\OneDrive\Documents\Cours M2\S2\BD Management\group4_BD_mgt\projet\notebooks
Key path: C:\Users\clemt\OneDrive\Documents\Cours M2\S2\BD Management\group4_BD_mgt\projet\august-voyage-390012-9a63e6007306.json
File exists: True
File contents readable: True

In [12]:
try:
    # Create credentials
    credentials = service_account.Credentials.from_service_account_file(key_path)
    print("Credentials created successfully")
    print("Project ID:", credentials.project_id)
    
    # Initialize client
    client = bigquery.Client(credentials=credentials, project=credentials.project_id)
    print("Client initialized successfully")
    
    # Test query
    query = """
    SELECT *
    FROM `edhec-business-manageme.luxurydata2502.price-monitoring-2022`
    LIMIT 1
    """
    df = client.query(query).to_dataframe()
    print("Query executed successfully")
    
except Exception as e:
    print("Error occurred:")
    print(str(e))

Credentials created successfully
Project ID: august-voyage-390012
Client initialized successfully
Error occurred:
Please install the 'db-dtypes' package to use this function.