In [1]:
import sys
import os
sys.path.append(os.path.dirname(os.getcwd()))
# ou plus directement
sys.path.append("C:/Users/clemt/OneDrive/Documents/Cours M2/S2/BD Management/group4_BD_mgt/projet")

In [2]:
from scripts.lib import who_am_i
who_am_i()

Hello my name is Clement

In [3]:
from scripts.lib import simple_df
simple_df()

    Name  Age
0  Alice   25
1    Bob   30

In [4]:
from google.oauth2 import service_account
from google.cloud import bigquery
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv()

# Debug prints
print("Current working directory:", os.getcwd())
key_path = os.getenv('GOOGLE_APPLICATION_CREDENTIALS')
print("Key path:", key_path)
print("File exists:", os.path.exists(key_path))
print("File contents readable:", os.access(key_path, os.R_OK))

Current working directory: c:\Users\clemt\OneDrive\Documents\Cours M2\S2\BD Management\group4_BD_mgt\projet\notebooks
Key path: C:\Users\clemt\OneDrive\Documents\Cours M2\S2\BD Management\group4_BD_mgt\projet\august-voyage-390012-9a63e6007306.json
File exists: True
File contents readable: True

In [5]:
try:
    # Create credentials
    credentials = service_account.Credentials.from_service_account_file(key_path)
    print("Credentials created successfully")
    print("Project ID:", credentials.project_id)
    
    # Initialize client
    client = bigquery.Client(credentials=credentials, project=credentials.project_id)
    print("Client initialized successfully")
    
    # Test query
    query = """
    SELECT *
    FROM `edhec-business-manageme.luxurydata2502.price-monitoring-2022`
    LIMIT 10
    """
    df = client.query(query).to_dataframe()
    print("Query executed successfully")
    
except Exception as e:
    print("Error occurred:")
    print(str(e))

Credentials created successfully
Project ID: august-voyage-390012
Client initialized successfully

c:\Users\clemt\OneDrive\Documents\Cours M2\S2\BD Management\group4_BD_mgt\projet\env\Lib\site-packages\google\cloud\bigquery\table.py:1820: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Query executed successfully

In [7]:
print("First 5 rows:")
df.head(n=5)

First 5 rows:

,uid,brand,url,price,currency,image_url,collection,reference_code,country,life_span_date,life_span,price_before,price_difference,price_percent_change,price_changed,is_new
0,6402,Rolex,https://www.rolex.com/watches/day-date/m228238...,285100,HKD,https://images.rolex.com/2019/catalogue/images...,DAY DATE,228238-0042,None,2020-08-29,Q4 August 2020,NaN,0,0.0,0.0,NaN
1,6403,Rolex,https://www.rolex.com/watches/sky-dweller/m326...,<NA>,HKD,https://images.rolex.com/2019/catalogue/images...,SKY DWELLER,326935-0007,None,2020-08-29,Q4 August 2020,NaN,0,0.0,0.0,NaN
2,6404,Rolex,https://www.rolex.com/watches/datejust/m126333...,103200,HKD,https://images.rolex.com/2019/catalogue/images...,DATEJUST,126333-0010,None,2020-08-29,Q4 August 2020,NaN,0,0.0,0.0,NaN
3,6405,Rolex,https://www.rolex.com/watches/lady-datejust/m2...,154900,HKD,https://images.rolex.com/2019/catalogue/images...,DATEJUST,279381RBR-0013,None,2020-08-29,Q4 August 2020,NaN,0,0.0,0.0,NaN
4,6406,Rolex,https://www.rolex.com/watches/pearlmaster/m864...,<NA>,HKD,https://content.rolex.com/dam/2020/upright-bba...,PEARLMASTER,86409RBR-0001,None,2020-08-29,Q4 August 2020,NaN,0,0.0,0.0,NaN